@model Fitmeplan.Email.Service.Contracts.Dtos.ResetPasswordEmailTemplateDto

<div>
    <p>Please follow the link from below in order to change your password:</p>
    <p><a href="@Model.Url">link</a></p>
    @if (Model.IsMobileClient)
    {
        <p>After the successful change of your password, please go to the login screen in your mobile app to sign in with your new password.</p>
    }
    <p>Regards, Alocura Team</p>
</div>
