<div class="welcome-page">
    <div class="row">
        <div class="col-sm-8">
            <p>
                Click <a href="~/grants">here</a> to manage your stored grants.
            </p>
        </div>
    </div>
</div>
