@model RedirectViewModel
<div class="aim-content">
    <p class="aim-form__text">An email message with the link to 'Reset password' page has been sent to your email address.</p>
    <p class="aim-form__text">Please check your mail box. The message should arrive within a few seconds. If it doesn't, please check your spam or junk mail folder.</p>
    <p class="aim-form__text">Go back to <a href="@Model.RedirectUrl">Login</a></p>
</div>