@model RedirectViewModel
@{
    Layout = "~/Views/Shared/_MobileLayout.cshtml";
}

<form asp-route="Login" class="aim-form">
    <div class="aim-content">
        <p class="aim-form__text">An email message with the link to 'Reset password' page has been sent to your email address.</p>
        <p class="aim-form__text">Please check your mail box. The message should arrive within a few seconds. If it doesn't, please check your spam or junk mail folder.</p>
        <a asp-controller="Account" asp-action="Login" asp-route-ReturnUrl="@Model.RedirectUrl" class="aim-form__submit-back">Back to Login</a>
    </div>
</form>