@model Fitmeplan.IdentityServer.Quickstart.Account.ResetPasswordViewModel

<!--Change inputs classes if Model is not valid-->
@{
    var invalid = "";
    if (ViewContext.ModelState.IsValid == false)
    {
        invalid = "invalid";
    }
}

    <form asp-route="ResetPassword" class="aim-form">
        <input type="hidden" asp-for="UserId" />
        <h3 class="aim-form__title">Reset password</h3>
        <label asp-for="Password" class="aim-form__label">Please enter the password you want to set for your account below.</label>
        <input type="password" class="aim-form__input @invalid" placeholder="Password" asp-for="Password" autocomplete="off">
        <label asp-for="ConfirmPassword" class="visually-hidden">Confirm your password</label>
        <input type="password" class="aim-form__input @invalid" placeholder="Confirm Password" asp-for="ConfirmPassword" autocomplete="off">
        <!--Error message-->
        <partial name="_ValidationSummary" />
        <!--Error message-->
        <button type="submit" name="button" value="save" class="aim-form__submit">Save</button>
    </form>